@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: vazirMedium;
        src: url("./font/fonts/webfonts/Vazirmatn-Medium.woff2");
    },

    @font-face {
        font-family: vazirBold;
        src: url("./font/fonts/webfonts/Vazirmatn-Bold.woff2");
    }

    @font-face {
        font-family: vazirExtraBold;
        src: url("./font/fonts/webfonts/Vazirmatn-ExtraBold.woff2");
    }

    @font-face {
        font-family: vazirRegular;
        src: url("./font/fonts/webfonts/Vazirmatn-Regular.woff2");
    }
}

@layer components {
    .items-navbar li{
        @apply flex items-center ml-7 cursor-pointer transition-all relative text-sm xl:text-base
    }
    .buttons-navbar div {
        @apply border border-gray-200 border-solid rounded-lg p-1.5 w-20 500:ml-2 text-center font-vazirRegular cursor-pointer
    }
    .after-navbar li {
        content: '';
        width: 0;
        height: 2px;
        margin: 0 auto;
        background-color: #423ffc;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: absolute;
        left:0;
        right: 0;
        bottom:0;
        top : 50px
    }

    .after-navbar li:hover {
        @apply w-full animate-borderItemsNavbar shadow-shadowItemsNavbar
    }

    .menu-items li{
        @apply mb-5 text-[12px] 500:text-base
    }

    .buttons-banner div {
        @apply rounded-lg flex justify-center items-center h-12 sm:h-14 1120:h-16 cursor-pointer
    }

    .start-banner {
        grid-column-start : 1;
        grid-column-end : 3;
        @apply bg-blue-500 text-white font-vazirMedium 
    }

    .app-banner {
        @apply border border-solid mt-2 text-[12px] p-1
         flex items-center font-vazirRegular sm:text-[15px] sm:font-vazirMedium
    }

    .list-coin {
        @apply flex justify-between p-1 shadow-md sm:p-3 items-center bg-slate-100 1120:bg-white h-20 rounded-md mb-3 sm:mb-8
    }

    .footer-items li {
        @apply mb-1.5 1120:mb-2.5
    }

    .Positive {
        @apply w-fit h-8 p-2 text-green-700 bg-green-200 rounded-md text-center sm:text-[15px]
    }

    .negative {
        @apply w-fit h-8 p-2 text-red-700 bg-red-200 rounded-md text-center sm:text-[15px]
    }

    .dark {
        @apply bg-slate-900 text-zinc-50
    }
}